* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --light-bg: #b4d0e7;
    --button-bg: #0061ff;
    --first-box-: #a2d39b;
    --second-box: #61082b;
    --third-box: #0093ce;
    --fourth-box: #ff1c1c;
    --fifth-box: #d5001f;
    --sixth-box: #b4d0e7;
    --eighth-box: #0d2481;
    --ninth-box: #ffd830;

}

body {
    background-color: var(--primary-color);
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.small-container {
    max-width: 600px;
    margin: 0 auto;
}

.debug {
    border: 1px solid red;
}

ul {
    list-style: none;
    height: 100%;
}

.d-flex {
    display: flex;
    
}

.start {
    display: flex;
    align-items: flex-start;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}

.content-between {
    align-content: space-between;
}

.mb-10 {
    margin-bottom: 7rem;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    
}

.button {
    background-color: var(--button-bg);
    color: var(--primary-color);
    padding: .3rem 1rem;
}

img {
    width: 100%;
}
/* header  */

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    padding: 0 1.5rem;
    z-index: 1000;
    font-size: .7rem;
    background-color: var(--primary-color);
}

header img {
    display: block;
    margin: 0 auto;
}

.logo {
    width: 10%;
}

header nav {
    width: 90%;
    height: 100%;
    
}

header li {
    padding: 0 1rem;
    height: 100%;
}

header li:hover {
   box-shadow: 0 1px 0 0 black;
}

.list {
    height: 100%;
}

/* main  */

main {
    padding-top: 70px;
}

#hero, #free-trial {
    background-color: var(--light-bg);
}

#hero {
    padding-top: 4rem;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    
}

.paragraph {
    font-size: .8rem;
    width: 35%;
    
}

.jumbo {
    width: 65%;
}

.jumbo img {
    position: relative;
    bottom: -3.5rem;
}

.paragraph i {
    font-size: 2rem;
}


/* footer  */
footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}