* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --light-bg: #b4d0e7;
    --button-bg: #0061ff;
    --border: #ded9d9;
    --first-box-: #a2d39b;
    --second-box: #61082b;
    --third-box: #0093ce;
    --fourth-box: #ff1c1c;
    --fifth-box: #d5001f;
    --sixth-box: #b4d0e7;
    --seventh-box: #0d2481;
    --eighth-box: #ffd830;

}

body {
    background-color: var(--primary-color);
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.small-container {
    max-width: 1000px;
    margin: 0 auto;
}

.debug {
    border: 1px solid red;
}

ul {
    list-style: none;
    height: 100%;
}

.d-flex {
    display: flex;
    
}

.start {
    display: flex;
    align-items: flex-start;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}

.content-between {
    align-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    
}

.button {
    background-color: var(--button-bg);
    color: var(--primary-color);
    padding: .5rem 1rem;
    text-decoration: none;
}

.light-bg:hover {
    background-color:#337ef6;
}

img {
    width: 100%;
}

.bold-text {
    font-weight: bold;
}

.mr-2 {
    margin-right: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-9 {
    margin-bottom: 9rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-1 {
    margin-top: 1rem;
}

.gap1 {
    gap: 1rem 0;
}

.p-1 {
    padding: 1.5rem 2rem;
}

.p-2 {
    padding: 2.5rem 2rem;
}

.p-3 {
    padding: 6rem 2rem;
}

.w60 {
    width: 60%;
}

.w80 {
    width: 80%;
}

.img-design {
    padding-right: 13rem;
}
/* header  */

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    padding: 0 1.5rem;
    z-index: 1000;
    font-size: .8rem;
    background-color: var(--primary-color);
}

header img {
    display: block;
    margin: 0 auto;
}

.logo {
    width: 10%;
}

header nav {
    width: 90%;
    height: 100%;
    
}

header li {
    padding: 0 1rem;
    height: 100%;
}

header li:hover {
   box-shadow: 0 1px 0 0 black;
}

.second-ul li:last-child {
    box-shadow: none;
}

.list {
    height: 100%;
}

/* main  */

main {
    padding-top: 70px;
}

#hero, #free-trial {
    background-color: var(--light-bg);
}

#hero {
    padding-top: 4rem;
}

h1 {
    font-size: 3.5rem; 
}

.paragraph {
    font-size: .8rem;
    width: 30%;
    padding-top: 1rem;
    
}

.jumbo {
    width: 70%;
}

.jumbo img {
    position: relative;
    bottom: -3rem;
    display: block;
}

.paragraph i {
    font-size: 2rem;
}

.paragraph p {
    padding-right: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

.card {
    width: calc(100 / 3);
    border: 1px solid var(--border);
    font-size: .8rem;
    
    
}

.card-header {
    border-bottom: 1px solid var(--border);
    padding: 1rem;
}

.card .shop {
    text-decoration: underline;
    color: #0061ff;
}


hr {
    border: 0;
    height: 0;
    border-top: 1px solid #9f9f9f;
    border-bottom: 1px solid #9f9f9f;
    width: 25%;
}

.card-footer i {
    color: #0061ff;
    
}

.partner {
    width: 65%;
}

.partner-text {
    width: 35%;
    padding: 2rem;
}

a.button.white {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.f-card {
    width: calc(100% / 3);
}

#more {
    text-decoration: underline;
    color: #0061ff;
}

.input-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: .8rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #a0a2a6;
    border-radius: 50%;
}

.input-container:hover .checkmark {
    background-color: rgb(97, 96, 96);
}

.input-container input:checked ~ .checkmark {
    background-color: #3675db;
}

.checkmark:after {
    content: '';
    display: none;
    position:absolute;
}

.input-container input:checked ~ .checkmark:after {
    display: block;
}

.input-container .checkmark::after {
    top: 4px;
	left: 4px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: rgb(255, 255, 255);
}

.square {
    width: calc(100% / 3);
    background-color: rgb(230, 227, 227);
    font-size: .7rem;
    height: calc(100vw / 3);
    overflow-y: auto;
}

.square img {
    width: 100%;
    
}

.small-square {
    width: calc(100% / 2);
    height: 50%;  
}

.small-square img {
    transform: scale(0.5);
    filter: invert(1);
    width: 100%;
    
}
.first {
    background-color: var(--first-box-);
}

:is(.first, .second, .third, .fourth, .fifth, .sixth, .seventh, .eighth,):hover{
    box-shadow: inset 0 0 0 15px  #ffffff74;
}

.second {
    background-color: var(--second-box);
}

.third {
    background-color: var(--third-box);
}

.fourth {
    background-color: var(--fourth-box);
}

.fifth {
    background-color: var(--fifth-box);
}

.sixth {
    background-color: var(--sixth-box);
}

.seventh {
    background-color: var(--seventh-box);
}

.eighth {
    background-color: var(--eighth-box);
}

.faq-hr {
    width: 100%;
    margin: 2rem 0;
}

summary {
    display: block;
  }
    summary::-webkit-details-marker {
    display: none;
  }
  summary::after {
    font-family: "Font Awesome 5 Free"; font-weight: 900; 
    content: '\f107';
    padding-left: 22rem;
  }
  details[open] > summary::after {
    content: '\f106';
  }

/* footer  */
footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: .7rem;
    padding: 3rem 0;
}

footer a {
    color: var(--primary-color);
}

footer ul {
    font-size: .9rem;
    padding-bottom: 1rem;
}

footer ul li:first-child {
    padding-bottom: 1.5rem;
}

footer li {
    padding-bottom: .7rem;
}

.lang-hr {
    width: 10%;
}

select {
    background-color: transparent;
    color: var(--primary-color);
    border: none;
}

option {
    color: var(--secondary-color);
}