* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --light-bg: #b4d0e7;
    --button-bg: #0061ff;
    --first-box-: #a2d39b;
    --second-box: #61082b;
    --third-box: #0093ce;
    --fourth-box: #ff1c1c;
    --fifth-box: #d5001f;
    --sixth-box: #b4d0e7;
    --eighth-box: #0d2481;
    --ninth-box: #ffd830;

}

body {
    background-color: var(--primary-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.small-container {
    max-width: 1000px;
    margin: 0 auto;
}

.debug {
    border: 1px solid red;
}

ul {
    list-style: none;
}
/* header  */

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
}

/* main  */

main {
    padding-top: 70px;
}

#hero, #free-trial {
    background-color: var(--light-bg);
}

footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}